.quizzSection {
    width: 76vw;
    margin: auto;
    margin-top: 2.3rem;
    height: fit-content;
    position: relative;
    margin-bottom: 0;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.8rem;
}

.timer,
.contents-table-index {
    color: var(--color-gray-light);
    font-size: 1.1rem;
    padding: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border: 1px solid var(--color-gray-light);
    border-radius: 1.2rem;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.1rem;
}
.contents-table-index:hover {
    background-color: rgb(218, 218, 218);
    transition: all 200ms ease-in-out 20ms;
}

span {
    font-weight: 600;
}

.ioMdArrowDropdown {
    color: black;
    margin-left: 0.5rem;
}
.contents-table-index {
    position: relative;
}

.contents-table-index:hover {
    background-color: #f1f3f4;
}

.indexing-details {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 230px;
    height: fit-content;
    border: 1px solid var(--color-gray-light);
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
    border-radius: 0.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: 0.6rem;
}

.indexing-details .contents-table-index {
    margin: 0.4rem;
    margin-bottom: 0.8rem;
}

.indexing-details p {
    font-size: 0.8rem;
    color: black;
    font-weight: 300;
    margin: 0.3rem;
}

.indexing-details h6 {
    font-size: 0.8rem;
    color: black;
    margin: 0.3rem;
    margin-top: 0.6rem;
}

.tiDeleteOutline {
    margin: 0.5rem;
    margin-top: 0;
    color: var(--color-blue-primary);
}

.indexing-details-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.indexing-details-head button {
    border: none;
    background-color: transparent;
}

.grid-container {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
    margin: auto;
}

.grid-item {
    background-color: #f1f3f4;
    width: 1.6rem;
    height: 1.6rem;
    font-size: 0.9rem;
    padding: 0.1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.15rem;
    cursor: pointer;
}

.react-audio-player {
    color: var(--color-blue-primary);
    background-color: #f1f3f4;
    border-radius: 0 0 1rem 1rem;
    width: 23rem;
}

.number {
    font-size: 0.8rem;
    margin: 0.4rem;
}
.bsHeadphones {
    margin: 0;
    width: 100%;
    height: 15rem;
    border-radius: 1rem 1rem 0 0;
    aspect-ratio: 1 / 1;
    color: var(--color-blue-primary);
    background-color: var(--color-blue-light);
}
.audio {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.quizz img {
    width: 23rem;
}

.quizz {
    display: flex;
}
.quizzOptions {
    margin: 1rem;
}

h4 {
    text-align: center;
    margin: 0.5rem;
    font-weight: 200;
    font-size: 1.2rem;
}
h5 {
    text-align: center;
    margin: 0.5rem;
    font-weight: 400;
    font-size: 1.1rem;
}
h6 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.3rem;
}

.option {
    display: flex;
    align-items: center;
    border: 2px solid white;
    margin: 0.6rem;
    padding: 0.1rem;
    font-size: 0.9rem;
    border-radius: 5rem;
    width: 22rem;
    cursor: pointer;
}
.option:hover {
    border-color: #f1f3f4;
    transition: all 200ms ease-in-out 20ms;
}

.option p {
    margin-left: 0.2rem;
    line-height: 1.5;
}

.optionId {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f3f4;
    width: 1.9rem;
    height: 1.9rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 0.3rem;
}
.stop,
.next {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-gray-light);
    color: var(--color-gray-light);
    margin-top: auto;
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.6rem;
    font-size: 0.9rem;
    border-radius: 5rem;
    width: fit-content;
    cursor: pointer;
}

.stop:hover,/*//////////////////////////////////////////////////*/
.next:hover {
    background-color: rgb(218, 218, 218);
    transition: all 200ms ease-in-out 20ms;
}
.hiOutlineArrowSmRight {
    margin-left: 0.5rem;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.quizz-lg-structure {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quizz-lg-structure h3 {
    text-align: center;
    margin-top: 3rem;
}

.end-the-exam-pop-up {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--color-gray-light);
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
    border-radius: 0.5rem;
    padding-top: 0.3rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0.5rem;
}

.end-the-exam-pop-up h5 {
    line-height: 1.8;
    font-size: 1rem;
}

.buttons {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selected {
    background-color: var(--color-blue-light);
}

.next,
.selected .optionId {
    color: white;
    background-color: var(--color-blue-primary);
}

.item-passd {
    color: white;
    background-color: var(--color-blue-primary);
}

.next:hover {
    background-color: var(--color-blue-dark);
    transition: all 200ms ease-in-out 20ms;
}

.selected p {
    color: var(--color-blue-primary);
}

@media only screen and (max-width: 900px) {
    .quizzSection {
        width: 90vw;
        height: fit-content;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons .stop {
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
}

@media only screen and (max-width: 780px) {
    .quizzSection {
        width: 95vw;
        margin-top: 1.4rem;
    }
    .quizz {
        align-items: center;
        flex-direction: column;
    }
    .quizz img {
        width: min(30rem, 100%);
    }

    .option {
        width: min(26rem, 90vw);
    }

    .bottom {
        margin-top: 1.5rem;
    }

    .react-audio-player {
        width: min(23rem, 90vw);
    }

    .end-the-exam-pop-up {
        width: 70vw;
    }
}
